h1 {
    color: rgb(112, 4, 4);
}

/* SM */
@media(min-width: 576px ){
    h1 {
        color:rgb(212, 180, 22);
    }
}

/* MD */
@media(min-width: 768px ){
    h1 {
        color:rgb(52, 143, 10);
    }
}

/* LG */
@media(min-width: 992px ){
    h1 {
        color:rgb(7, 96, 88);
    }
}

.meu-botao {
    background-color: aquamarine;
    color: brown;
    margin-bottom: 40px;
}

/* Explicação dos .container e .container-fluid */
/* .container, .container-fluid {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    margin-bottom: 20px;
} */

.container {
    border: 5px dotted blue;
    padding: 10px;
}

.row {
    border: 5px solid purple;
    margin: 0;
    padding: 10px;
}

.col, .col-3, .col-8, .col-5, .col-2 {
    border: 2px dashed red;
}

.display-flex {
    display: flex;
    height: 200px;
    width: 100%;
    background-color: lightslategray;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
}

.minha-div {
    height: 100px;
    width: 200px;
    background-color: bisque;
    border: 1px solid blue;
    text-align: center;
    font-size: 30px;
}

.self {
    align-self: flex-end;
}

#minha-row {
    height: 150px;
}

#minha-row .col-3 {
    background-color: bisque;
    height: 50px;
}